.movie {
    margin-bottom: 300px;

    @media only screen and (max-width:415px) {
        margin-top: 300px;  
    }

    &__box-popular {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        overflow-y: auto;
        overflow-x: scroll;

        @media only screen and (max-width:415px) {
            display: block;
            overflow-x: visible;
            overflow-y: inherit;
            margin-top: 100px;
            
        }
    }


&__content {
    margin: 20px 100px;
    padding-bottom: 80px;

    &-title {
        float: left;
        font-size: 35px;

        @media only screen and (max-width:415px) {
            font-size: 20px;
        }
    }
    &-text {
        display: flex;
        float:right;
        padding: 10px;
        font-size: 16px;
        color: #F5C518;
        cursor: pointer;

        @media only screen and (max-width:415px) {
            float: left;   
        }
    }
    &-arrow {
        margin-left: 23px;
    }
   
}

&__box { 
    &-first {
        display: grid;
        grid-template-columns: min-content 650px;
        padding: 44px 22px 50px 44px;
        background-color:#FAFAFA; 
        border-radius: 10px;

        
        @media only screen and (max-width:415px) {
            display: block;
        }
        
        
    }
    &-photo {
        border-radius: 20px;
    }

    &-right-btn {
        margin-left: auto;

        &-action,
        &-bio {
            background-color: #F5C518;
            font-size: 16px;
            line-height: 24px;
            border: none;
            border-radius: 10px;
            padding: 11px 24px;
            cursor: pointer;

            // @media only screen and (max-width: $bp-largest) { 
            //    padding: 11px;
            // }
        }

        &-action {
            margin-right: 15px;

            // @media only screen and (max-width: $bp-large) { 
            //    margin: auto;
            //  }
        }

    }

    &-content {
        // display: grid;
        // grid-template-rows: repeat(3, 5);
        // grid-row-gap: 30px;
        padding: 30px 60px;

        // @media only screen and (max-width: $bp-large) { 
        //     padding: 30px;
        //   }
    }
   

    &-imdb {
        display: flex;
        align-items: center;

        h3 {
            align-self: center;
            margin-left: 19px;
        }
    }

    &-btn {
        display: flex;

        &-fav {
            padding: 10px 5px;
            font-size: 16px;
            background-color: #F5C518;
            border: none;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            box-shadow: 0px 14px 26px rgba(39, 13, 48, 0.25);

            // @media only screen and (max-width: $bp-large) { 
            //     margin-left: 20px;
            //   }

            span {
                margin-left: 20px;
            }
        }
        &-add {
            display: block;
            margin-left: 50px;

            // @media only screen and (max-width: $bp-large) { 
            //     margin-left: 20px;
            //   }
        }

     
        &-link {
            text-decoration: none;
            color: #F5C518;
            margin-left: 41px;
            display: flex;
            align-self: center;
        }
       
    }

    &-details {
        margin-top: 32px;

        &-date {
            color: #F5C518;
        }

        &-text {
            margin: 26px 0 75px 0;
            width: 90%;
            color: rgba(0, 0, 0, 0.5);
        }
    }
   
}

}